h1{
	color: black;
	font-family: URW Gothic L;

}
h2{
	font-size : x-large;
	font-family : URW Gothic L;

}
h3{
	font-family : Avantgarde;
	border-width: medium;
}
a{
	color:  white;
	padding: 20px;
	text-decoration: none;
	justify-content: center;
	border-bottom: 2px solid grey;
	background-size: cover;
	font-family: Georgia, serif;